@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fffdfa;
}

p {
  color: #333333;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 15px;
}

li:last-child {
  margin-right: 0;
}

p, a {
  font-family: 'Roboto', sans-serif;
}

.active {
  display: block;
  position: relative;
}

.active::after {
  content: 'active';
  position: absolute;
  top: -6px;
  right: -10px;
  color: red;
  font-size: .7rem;
}

h1, h3, h4 {
  color: #333;
  text-align: center;
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-size: 1.5rem;
}

h4 a {
  text-decoration: none;
}

a {
  color: #333333;
}

a:hover, a:active {
  color: orangered;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.header__info {
  margin-top: 10px;
  position: relative;
}

.header__info::before {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  background: orangered;
  left: -15px;
  top: 4px;
  border-radius: 10px;
  animation-name: bounce;
  animation-duration: .9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bounce {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  background: #a0c49e;
}

.section p:first-of-type {
  margin: 40px 0;
}

.section__link {
  font-weight: 900;
  font-size: 1.5rem;
  border: 3px solid orangered;
  padding: 10px;
  text-decoration: none;
  color: orangered;
}

.section__link:hover, .section__link:active {
  border: 3px solid #333;
  color: #333333;
}

.section__text {
  width: 60%;
  text-align: center;
}

.section__text span {
  display: block;
  font-weight: 900;
  padding: 10px;
  font-size: 1.1rem;
}

.nav__list-link:hover, .nav__list-link:active {
  color: mediumseagreen;
}

.article__wrapper {
  display: flex;
  margin: 50px 0
}

.article {
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: .2s linear;
  box-shadow: none;
}

.article:hover {
  background-color: #ffe9c3;
  box-shadow: 8px 0px 51px -26px rgba(0,0,0,0.75);
}

.article h4 {
  margin: 15px 0;
}

.article div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.article__text {
  margin-top: 15px;
}

.article:hover .image {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.image {
  width: 100%;
  height: 300px;
  margin: 0 5px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: .4s;
}

.image_1 {
  background: url("../img/1.gif");
  background-size: cover;
  background-position: center;
}

.image_2 {
  background: url("../img/3.gif");
  background-size: cover;
  background-position: center;
}

.image_3 {
  background: url("../img/2.gif");
  background-size: cover;
  background-position: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #b4afb5;
}

.footer nav {
  margin-bottom: 20px;
}


table {
  border-collapse: collapse;
  font-family: Montserrat, sans-serif;
  width: 70%;
}

table, th, td {
  text-align: center;
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: #ffe6bf;
}

tr:nth-child(even){
  background-color: #fcefe0;
}

th {
  background-color: #ffd197;
  transition: .1s;
}

th:hover {
  background-color: orange;
}


.main__schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 100px;
  align-items: center;
}

.main__schedule_text {
  margin-bottom: 40px;
  width: 50%;
}


